---
layout: default
---

<h1>Data</h1>

<div class="twocols">

        <p>Pablo Selín</p>
        <p>b. 1981</p>
        <p>Lives in Melipilla, Chile</p>
         <p>Representation in Santiago, Chile by <a href="https://www.theintuitivemachine.com/">The Intuitive Machine</a></p>
        <p>Download PDF portfolio <a href="./pdf/pabloselin_portfolio.pdf">(english)</a> <a href="./pdf/pabloselin_portafolio.pdf">(español)</a></p>
        <p>Instagram: <a href="https://instagram.com/pablo_selin/">@pablo_selin</a></p>
        <p>Deals and ideas write me to <a href="mailto:pabloselin@gmail.com">pabloselin@gmail.com</a></p>
</div>

<h2>Selected group exhibitions</h2>

<ul>
     {% for expo in site.data.expos %}
    <li>{{expo.year}} - {{expo.name}}. {{expo.place}}</li>
    {% endfor %}
</ul>
<p>
* Between 2004 - 2011 I worked in the art-world with the latin-american collective Incas of Emergency, you can check more of it in <a href="https://www.youtube.com/user/devilspepegrillo/videos" target="_blank">their youtube channel.</a>
</p>
<h2>Art fairs</h2>

<ul>
    {% for fair in site.data.fairs %}
    <li>{{fair.year}} - {{fair.name}}. {{fair.rep}}</li>
    {% endfor %}
</ul>

<h2>Residencies</h2>
    
    <ul>
    {% for residency in site.data.residencies %}
    <li>{{residency.year}} - {{residency.name}} - <em>{{residency.extra}}</em></li>
    {% endfor %}
    </ul>

<h2>FONDART (National Fund for the Development of Culture and the Arts)</h2>
<ul>
    {% for concurso in site.data.concursos %}
    <li>{{concurso.year}} - {{concurso.name}}</li>
    {% endfor %}
</ul>

<h2>Comic fairs</h2>

<ul>
    {% for fair in site.data.comicfairs %}
    <li>{{fair.year}} - {{fair.name}}. {{fair.place}}</li>
    {% endfor %}
</ul>

<h2>Anthologies</h2>

<ul>
    {% for antology in site.data.antologies %}
    <li>{{antology.year}} - {{antology.name}}  - <em>{{antology.country}}</em></li>
    {% endfor %}
</ul>

<h2>Self published stuff</h2>

<ul>
    {% for zine in site.data.zines %}
    <li>{{zine.year}} - {{zine.name}}</li>
    {% endfor %}
</ul>

<h2>Online publications</h2>

<ul>
    {% for onlinepub in site.data.onlinepubs %}
    <li>{{onlinepub.year}} - {{onlinepub.name}}</li>
    {% endfor %}
</ul>

<h2>Video Games</h2>
<ul>
     {% for videogame in site.data.videogames %}
     <li>{{videogame.year}} - {{videogame.name}} <br/> <a href="{{videogame.link}}">Link</a></li>
     {% endfor %}
</ul>

