---
layout: prints
---

<div class="prints">

  <ul class="prints-list">
    {% for print in site.data.prints %}
      <li class="print-item" id="{{ print.img }}">
            
            <img src="{{ site.baseurl }}/img/{{ print.img }}.jpg" alt="{{ print.name }}">

            <h4>{{ print.name }}</h4>
            <p><span class="label">Precio:</span> {{ print.priceUS }} USD / {{ print.priceCL}} CLP</p>
            <p><span class="label">Detalles:</span> {{ print.details }}</p>
            <p>&nbsp;</p>
            <p>{% include paypal_button.html %}</p>

      </li>
    {% endfor %}
  </ul>


<p style="clear:both;"></p>

<div class="infobuy">
  <h4>INFO</h4>
  <ul>
    <li>Shipping included to anywhere in the world.</li>
    <li>Envío incluído a cualquier parte del mundo.</li>
    <li>Si vives en Chile me puedes pagar por transferencia bancaria o en persona.</li>
    <li>Si vives en Santiago podemos coordinar y quedar en algún lado.</li>
  </ul>
</div>
</div>