<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      <ul class="contact-list">
          <li><a href="{{ site.url }}">{{ site.title }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      <a title="Comprar / Buy" href="{{ site.url }}/prints.html">
        <img src="{{ site.baseurl }}/img/footer_img.jpg" alt="Sad Cloud">        
      </a>
      <p><a href="{{ site.url }}/prints.html">Comprar / buy comics.</a></p>
      </div>

      <div class="footer-col footer-col-3">
      <h4>Friendly links</h4>
        <ul>
          {% for link in site.data.links %}
              <li><a href="{{ link.url }}" title="{{ link.name }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</footer>
