.comics-list {
	margin:0 0 24px 0;
	padding:0;
}

.comics-list li {
	 list-style:none;
	 width:90px;
	 height:auto;
	 margin:24px;
	 padding:0;
	 float:left;
	 transition:all linear 0.3s;
	 box-shadow: 0 0 6px #333;
	 text-align:center;
}

.comics-list li:first-of-type,
.comics-list li:nth-of-type(2),
.comics-list li:nth-of-type(3),
.comics-list li:nth-of-type(4)
 {
	animation: dance 0.5s infinite;
}

.site-footer img {
	border:1px solid #555;
}

@media screen and (max-width:480px) {
	.comics-list li {
		margin:18px;
	}
}

@keyframes dance {
	0% {
		transform:rotate(1deg);
	}

	25% {
		transform:rotate(-1deg);
	}

	50% {
		transform:rotate(2deg);
	}

	75% {
		transform:rotate(-2deg);
	}
}

.comics-list li:hover {
	animation: none;
	box-shadow:none;
}

.comics-list li img {
	
}

.comics-list li h2 {
	margin-bottom:0;
}

.comics-list li span {
	font-size:11px;
	line-height:12px;
	text-transform:uppercase;
	display:block;
	padding:3px;
	color:white;
	background-color:#000;
}


article.comic {
	background-color:#000;
	color:white;
	text-align:center;
	padding:24px 0;
}

article.comic h1 {
	font-weight:normal;
	margin-bottom:24px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
}

article.comic img {
	margin-bottom:24px;
}

article.comic .comic-images {
	margin:0 auto;
}

a.buylink {
	display:block;
	padding:6px;
	color:white;
	background-color: #D49198;
	width:200px;
	text-decoration:none;
	margin:0 auto;
	font-size:12px;
	border-radius:5px;
}