body.home .page-content {
	padding-top:6px;
	background-color: #7794F0;
}

body.home .wrapper {
	max-width:700px;
}

div.presentation {
	padding:24px 24px 0 24px;
	line-height:1em;
	color:#333;
	border-bottom:1px solid #555;
}

div.presentation p {
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:16px;
	color:white;
}

div.presentation h1 {
	font-size:11px;
	letter-spacing:17px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	}