.comic-list-item {
    margin-bottom:24px;
    overflow:hidden;
    .date {
        font-size:12px;
        color:#ccc;
    }
    img {
        float:left;
        width:90px;
        height:90px;
        margin-right:6px;
        border:1px solid #333;
    }
}

h2.comic-title {
    font-size:48px;
    margin-bottom:0;
    line-height:48px;
    a {
        color:#362A2A;
        &:hover {
            text-decoration:none;
            color:#F09C29;
        }
    }
}

@media screen and (max-width:$on-palm) {
    .comic-list-item {
        img {
            width:60px;
            height:60px;
        }
        h2.comic-title {
            font-size:22px;
            line-height:22px;
        }
    }
}

.series-title {
    text-align:center;
}

.daily-list-item {
    max-width:800px;
    margin:0 auto;
}