

.drawing {
    figure {
        img {
            border:1px solid #f0f0f0;
        }
        h1 {
            margin-top:24px;
            margin-bottom:0;
        }
    }
}

.drawing-list-item img {
    border:1px solid #ccc;
}

@media screen and (max-width:$on-palm) {
    .drawing-list-item {
        text-align:center;
        margin-bottom:24px;
    }
}