
.cvmuestra {
	margin: 48px 0;
	padding: 48px 0;
	border-top: 1px dashed red;
	border-bottom: 1px dashed red;
	h2, h3, h4 {
		color: red;
		font-weight: bold;
	}
}

.muestras-trueno {
	display: flex;
	margin: 24px 0;
	align-items: center;
	
	a {
		margin: 0 6px;
	}

	img {
		width: 100%;
	}
}

.video-trolley {
	text-align: center;
	video {
		margin: 24px auto;
	}
}

p.desc {
	font-style: normal;
	text-align: left;
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px dashed red;

	strong {
		font-weight: normal;
		color: red;
		display: block;
		margin-bottom: 6px;
	}
}

span.help,
a.help {
	font-style: normal;
	color: red;
}

ul.list-skills {
	margin-left: 24px;
	li {
		list-style: disc;	
	}
	
}

@media screen and (max-width: 768px) {
	.video-trolley {
		video {
			max-width: 100%;
		}
	}
}