.serie {
	.images-left {
		width: 600px;
		float: left;
	}

	.content-right {
		width: 400px;
		float: left;
		padding: 12px;
	}

	img {
		margin-bottom: 12px;
	}

	.wrapper-mini {
		max-width: 700px;
		margin: 0 auto;
	}
}

.works-wrapper {
	
}

.serie-item {
	a {
		display: block;
		padding: 48px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #333;
		margin: 0 12px 12px 0;
		&:hover {
			text-decoration: none;
			color: #f09c29;
			font-weight: bold;
			h1 {
				font-weight: bold;
			}
		}	
	}

}