---
layout: ii
---

<!DOCTYPE html>
<html>
  <body style="text-align:center;">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    
    <div class="page-content">
      <p>
        <img class="site-logo" width="400" src="{{site.url}}/dib_imgs/iiguy.png" alt="">
        <iframe src="https://minnit.chat/ii?embed&nickname=" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/ii" target="_blank">HTML5 Chatroom powered by Minnit Chat</a>
      </p>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    <img class="site-logo" width="40" src="{{site.url}}/dib_imgs/ii.png" alt="">
    

    {% include footer.html %}

  </body>

</html>
