<!DOCTYPE html>
<html>

{% include head.html %}

<body class="incas">

  {% include header.html %}

  <div class="page-content">
    
    
    <div class="wrapper">
      <h1 class="withsub">INCAS OF EMERGENCY</h1>
      <h2>Carlos Acuña - Felipe Zilleruelo - Rodrigo Uriví - Pablo Selín</h2>
    </div>

    <div class="videostripe">
      <div class="wrapper">
        <div class="halfzone">
          <video src="{{site.url}}/videos/cliplampa.mp4" autoplay="true" loop="true"></video>
          <p class="videocaption">
            Silencio en Lampa - 4:16 - 2004 <a href="https://www.youtube.com/watch?v=GJKjhLv9eCo" target="_blank">[+]</a>
          </p>
        </div>
        <div class="halfzone">  
          <video src="{{site.url}}/videos/clipobrero.mp4" autoplay="true" loop="true"></video>
          <p class="videocaption">
            Sueño Obrero - 1:22 - 2005 <a href="https://www.youtube.com/watch?v=ZDuCME-6wqA" target="_blank">[+]</a>
          </p>
        </div>
      </div>
    </div>

    <div class="incasdesc">
      <div class="wrapper">
        <p>Durante los años que este colectivo ha trabajado (2004 – 2010) ha apostado, por integrar dialécticas contemporáneas en temas muchas veces no tratados por nuestra escena artística local, desde localizadores de extraterrestres hasta perpetrar actos subversivos con bombas de ruido. Mediante el uso de diversos soportes como la instalación en site specifics, el video, la fotografía, la performance, el net art y la escritura, los integrantes de Incas of Emergency han integrado obsesiones particulares provenientes del cómic, el cine y la televisión. Entre ellas la ciencia ficción acaecida como un género prolífico en el inconsciente popular y que cada día vemos más integrado en la esfera del arte de corte más tradicional constituyéndose en parte activa de los procesos que el arte conlleva con la amplitud relacional de campos culturales.</p>

        <p><em>Extracto de texto de exposición "Ultimate Melee Warrior Doom" por Sebastián Vidal - 2010 - Sala SAM</em> <a href="https://moleskinedearte.wordpress.com/2010/10/06/ultimate-melee-warrior-doom/" target="_blank">[+]</a></p>
      </div>
    </div>

    <div class="imagestripe">
      <img src="{{site.url}}/ioe_imgs/concreta_01.jpg" alt="Incas of Emergency | 1979-2004 | Galería Concreta, Centro Cultural Matucana 100">
      <img src="{{site.url}}/ioe_imgs/concreta_02.jpg" alt="Incas of Emergency | 1979-2004 | Galería Concreta, Centro Cultural Matucana 100">
      <img src="{{site.url}}/ioe_imgs/concreta_03.jpg" alt="Incas of Emergency | 1979-2004 | Galería Concreta, Centro Cultural Matucana 100">
      <img src="{{site.url}}/ioe_imgs/concreta_04.jpg" alt="Incas of Emergency | 1979-2004 | Galería Concreta, Centro Cultural Matucana 100">
    </div>
    <div class="captionstripe">
      <div class="wrapper">
        <p>Incas of Emergency: 1979-2004 / Galería Concreta, Centro Cultural Matucana 100, 2004 - Santiago, Chile</p>
      </div>
    </div>

    <div class="incasdesc">
      <div class="wrapper">
        <p>[... el grupo Incas of Emergency] opta por una forma colaborativa de trabajo. En el 2004, y a modo de debut, expusieron en la Galería Concreta (un espacio destinado a artistas emergentes) una falsa retrospectiva, inventándose a través de textos un extenso currículo como colectivo de arte. También, en esa muestra, realizaron un "Espacio de Diálogo Incásico", en el cual instalaron una especie de <em>living room</em> e invitaron a la gente a conversar. En esta instancia, que ellos después han repetido, los artistas, nuevamente, intercambian roles con el espectador cuestionando sus supuestos privilegios creativos. "Entendemos el arte como un proceso conversacional", aclaran. "Somos personas que conversan con otras personas y hablamos de cualquier tema. En el fondo somos personas que se dedican al arte, hacemos construcciones que cualquier otro podría hacer, pero lo que nos define es una relación productiva con el ocio".</p>

        <p>Extracto de <em>Tocar al Otro</em> de Catalina Mena - en <em>Copiar el Edén: Arte Reciente en Chile</em>- 2006</p>
      </div>
    </div>

    <div class="imagestripe">
      <img src="{{site.url}}/ioe_imgs/metropolitana_01.jpg" alt="Incas of Emergency | Desde el borde de la Galaxia | Galería Metropolitana">
      <img src="{{site.url}}/ioe_imgs/metropolitana_02.jpg" alt="Incas of Emergency | Desde el borde de la Galaxia | Galería Metropolitana">
      <img src="{{site.url}}/ioe_imgs/metropolitana_03.jpg" alt="Incas of Emergency | Desde el borde de la Galaxia | Galería Metropolitana">
      <img src="{{site.url}}/ioe_imgs/metropolitana_04.jpg" alt="Incas of Emergency | Desde el borde de la Galaxia | Galería Metropolitana">
    </div>
    <div class="captionstripe">
      <div class="wrapper">
        <p>Incas of Emergency: Desde el Borde de la Galaxia / Galería Metropolitana, 2005 - Santiago, Chile</p>
      </div>
    </div>

    <div class="imagestripe">
      <img src="{{site.url}}/ioe_imgs/mac_01.jpg" alt="Incas of Emergency | Devils Pepegrillo | VII Bienal de Video y Nuevos Medios / Museo de Arte Contemporáneo">
      <img src="{{site.url}}/ioe_imgs/mac_02.jpg" alt="Incas of Emergency | Devils Pepegrillo | VII Bienal de Video y Nuevos Medios / Museo de Arte Contemporáneo">
      <img src="{{site.url}}/ioe_imgs/mac_03.jpg" alt="Incas of Emergency | Devils Pepegrillo | VII Bienal de Video y Nuevos Medios / Museo de Arte Contemporáneo">
      <img src="{{site.url}}/ioe_imgs/mac_04.jpg" alt="Incas of Emergency | Devils Pepegrillo | VII Bienal de Video y Nuevos Medios / Museo de Arte Contemporáneo">
    </div>
    <div class="captionstripe">
      <div class="wrapper">
        <p>Incas of Emergency: Devils Pepegrillo, VII Bienal de Video y Nuevos Medios / Museo de Arte Contemporáneo, 2005 - Santiago, Chile</p>
      </div>
    </div>

    <div class="imagestripe">
      <img src="{{site.url}}/ioe_imgs/mnba_01.jpg" alt="Incas of Emergency | Piedra de los Lobos | TRIATLON: VI Bienal de Arte / Museo Nacional de Bellas Artes">
      <video src="{{site.url}}/videos/clipstabilizer.mp4" loop="true" autoplay="true"></video>
      <img src="{{site.url}}/ioe_imgs/mnba_02.jpg" alt="Incas of Emergency | Piedra de los Lobos | TRIATLON: VI Bienal de Arte / Museo Nacional de Bellas Artes">
    </div>
    <div class="captionstripe">
      <div class="wrapper">
        <p>Incas of Emergency: Piedra de los Lobos, TRIATLON: VI Bienal de Arte / Museo Nacional de Bellas Artes - Santiago, Chile</p>
      </div>
    </div>
    
  </div>

  {% include footer.html %}

</body>

</html>
