---
layout: memory_layout
---
<article class="memory" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="memory-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="memory-content" itemprop="articleBody">
   
   <div class="panel">
       <div class="panel-image">
           <img src="{{ site.baseurl }}/mem_imgs/{{page.slug}}.jpg" alt="{{page.title}}">
       </div>
       <div class="panel-data">
           <div class="date"><span class="label">fecha:</span> {{page.date}}</div>
           <div class="place"><span class="label">lugar:</span> 
                {% for place in page.places %}
                    <span class="tag">{{place}}</span>
                {% endfor %} 
            </div>
           <div class="theme"><span class="label">eje:</span> 
                {% for theme in page.themes %}
                    <span class="tag">{{theme}}</span>
                {% endfor %}    
            </div>
           <div class="persons"><span class="label">personas:</span> 
            {% for person in page.persons %}
                <span class="tag">{{person}}</span>
            {% endfor %}
            </div>
       </div>
   </div>
	
  </div>

</article>