<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="outpost">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="lib-wrap-top">
        <div class="lib-wrap">
            <div class="lib-front" >
              <img src="{{ site.url }}/site_imgs/outpost/outpost_portada_small.jpg" alt="">
            </div>
            <div class="lib-right"></div>
            <div class="lib-back"><img src="{{ site.url }}/site_imgs/outpost/outpost_contratapa_small.jpg" alt=""></div>
            <div class="lib-left"><img src="{{ site.url }}/site_imgs/outpost/outpost_lomo_small.png" alt=""></div>

        </div>
        </div>
        <p><a download="outpost_1.pdf" href="http://static.pablosel.in/pablosel.in/outpost/outpost_1.pdf">Download PDF</a>
        <a download="outpost_1.cbr" href="http://static.pablosel.in/pablosel.in/outpost/outpost_1.cbr">Download CBR</a></p>
        <p class="infop">84 páginas - español con subtítulos en inglés - gratis</p>
        <p class="infop">84 pages - spanish with english subtitles - free</p>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
