<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="serie">

    {% include header.html %}

    <div class="page-content">
        {% if page.fullwidth-images %}

        <div class="wrapper">
          <div class="content-infull">
              <span class="year">{{ page.year }}</span>
              <h1>{{ page.title }}</h1>
              {{ page.content }}
          </div>
        </div>
        
        {% for image in page.fullwidth-images %}
        
          <img src="{{ site.baseurl }}/dib_imgs/{{ image }}" alt="{{ page.title }}">

        {% endfor %}

        <div class="wrapper">
          <div class="content-infull">
            {{ page.extratext }}
          </div>
        </div>

         <div class="wrapper-mini">
          <div class="images-rest">
            {% for image in page.images %}
              <img src="{{ site.baseurl }}/dib_imgs/{{ image }}" alt="{{ page.title }}">
            {% endfor %}
          </div>
        </div>

        {% else %}
        
        <div class="wrapper">
          <div class="images-left">
            {% for image in page.images %}
              <img src="{{ site.baseurl }}/dib_imgs/{{ image }}" alt="{{ page.title }}">
            {% endfor %}
          </div>
          
          <div class="content-right">
            <span class="year">{{ page.year }}</span>
            <h1>{{ page.title }}</h1>
            {{ page.content }}

            {{ page.extratext }}
          </div>
        </div>
        
        {% endif %}
    
    </div>

    {% include footer.html %}

  </body>

</html>